include README.md
include LICENSE
include VERSION
include Makefile
recursive-include genome *
recursive-include organs *
recursive-include templates *
recursive-include install *
recursive-include .soma *
recursive-include soma_cli/starter_rules *.md
